@model Pacote
@{
    ViewData["Title"] = "Cadastro de Pacotes";
    }

<h2>Cadastro de Pacotes</h2>
<div class="cadastroPack">
    <form asp-action="Cadastro" method="POST">
        <p>
            <label asp-for="NomePacote">Nome:</label>
            <input asp-for="NomePacote" name="NomePacote" type="text" placeholder="Nome do Pacote" required>
        </p>
        <p>
            <label asp-for="Origem">Origem:</label>
            <input asp-for="Origem" name="Origem" type="text" placeholder="Origem">
        </p>
        <p>
            <label asp-for="Destino">Destino:</label>
            <input asp-for="Destino" name="Destino" type="text" placeholder="Destino" required>
        </p>
        <p>
            <label asp-for="Saida">Saída:</label>
            <input asp-for="Saida" type="date" name="Saida" required/>
        </p>
        <p>
            <label asp-for="Retorno">Retorno</label>
            <input asp-for="Retorno" name="Retorno" type="date" required>
        </p>
        <p>
            <label asp-for="Atrativos">Atrativos:</label>
            <textarea asp-for="Atrativos" name="Atrativos" cols="20" rows="4"></textarea>
        </p>
        <p>
            <input type="submit" valor="Cadastrar">
        </p>
        <p id="Mensagem">@ViewBag.Mensagem</p>
    </form>
</div>