@{
    ViewData["Title"] = "Sobre Nós";
}

<div class="sobre-nos">
    <h1>Destino Certo</h1>
    <p div="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate alias laudantium, eum reprehenderit
         provident harum voluptatibus natus ullam tempore sapiente incidunt dignissimos ratione omnis id, libero deserunt,
          tenetur debitis non.
    </p>
    <img src="/images/logo.jpg" alt="Logo da empresa, avião e um navio vetorizados.">
</div>