@{
    ViewData["Title"] = "Fale Conosco";
}
    <div class="fale-conosco__contato">
        <h3>Nosso Contato</h3>
        <h5>Telefone</h5>
        <p>(81) 0000-0000 07h-20h</p>
        <h5>E-mail</h5>
        <address>atendimento@destinocerto.com</address>
    </div>
</div>